
/*******************************************************/
body{background:#e9e9e9;font-family:arial,"微软雅黑",sans-serif;
    color:#898989;font-size:12px;}
/********************************************************/
/*top*/
#top{background:#222222;width:100%;}
.top_header{background:#222222;height:74px;position: relative;}
.top_main{padding:4px 4px;}
/*logo*/
.top_logo{
    width:110px;
    padding-top:12px;
    background: url(../img/logo.png);
    background-position: -183px -105px;
    margin-top: 11px;
    height: 42px;
    float: left;
    margin-right:39px;
}
/*nav*/
.nav .top_nav ul{height:72px;}
.nav .top_nav ul li{
    float:left;
    height:72px;
    line-height:72px;
    padding-right:38px;
}
.nav .top_nav ul li a{
    display: block;
    height: 72px;
    line-height: 72px;
    font-size: 14px;
    color: #9d9d9d;
    letter-spacing:1px;
    text-decoration: none;
    width: 77px;
    text-align: center;
}
.nav .top_nav ul li a:hover{color:#fff;background:#666;}

/*search*/
.search{
    width:191px;
    height:26px;
    float: left;
    position: relative;
    right:-705px;
    top:-51px;
}
.search input{
    width:186px;
    height: 14px;
    float: left;
    line-height:14px;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    box-shadow: 0 0 2px #fff;
    padding: 4px 10px;
}
.search a.icons{
    width: 53px;
    height:20px;
    display: inline-block;
    border: 1px solid transparent;
    position: absolute;
    right: -16px;
    top:1px;
}
.search a.icons{
    background-image:url('../img/more.png');
    background-position:-7px -328px;
}
.search a.icons{
    cursor: inherit;
}
/*购物车*/
.top_car .carts{
    width:26px;
    height:23px;
    display: inline-block;
    position: absolute;
    top: 18px;
    cursor: pointer;
}
.carts{float:right;
    padding-top: 9px;
    position: absolute;
    top: 23px;
    right: -23px;
}
.carts{
    background-image: url('../img/think_icon.png');
    background-position: -4px 0;
}
.carts:hover{
    background-image: url('../img/more.png');
    background-position:-155px 1245px;
}
/********************************************************/
/*用户*/
.top_user{
    float: right;
    padding: 28px 18px;
    font-size: 13px;
    height: 16px;
    line-height: 34px;
    color:#9d9d9d;
    position: absolute;
    top: -10px;
    right:0;
    margin-right: 10px;
    padding-left: 157px;
}
.top_user .user a{
    color:#9d9d9d;
    margin: 1px 6px 0;
    text-decoration: none;
    color:#9d9d9d;
}
.top_user .user span:first-child{line-height: 40px;}


/*头部外间距*/
#top{margin-bottom: 10px;}
/********************************************************/
/*banner*/
.banner_box{width:1211px;margin:0 auto;}
#banner .mbx{padding:21px 0 10px;padding-bottom:15px;}
#banner .mbx a{text-decoration:none;}
#banner .mbx span{color:#e72e25;}
#banner{margin-bottom:562px;}
/********************************************************/
/*左边*/
.b_lt{
    width:210px;
    float: left;
    padding: 3px 2px;
    position: relative;
    top: -3px;
    left: -3px;}
.b_lt h1{height:48px;line-height:48px;background:#e72e25;color:#fff;font-size:18px;padding-left: 20px;font-weight: normal;}
.shop_ul{height:300px;background: #000;}
.shop_txt{margin-left:22px;color:#fff;}
.link{
    display: block;
    height: 50px;
    line-height:52px;
    font-size: 15px;
    color: #fff;
    padding-left: 20px;
}
.link .icon{
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 16px;}
.icon{background-image: url('../img/shopicon.png');}
/*列表图标坐标*/
.bjb{background-position:-5px -2px;}
.tsj{background-position:-5px -29px;}
.xsq{background-position:-5px -55px;}
.pad{background-position:-60px 156px;}
.dnzb{background-position:-5px -84px;}
.tkl{background-position:-5px -112px;}

/*左边菜单列表*/
.b_lt .link{text-decoration: none;}
/*hover*/
.link:hover .bjb{background-position:-32px -2px;}
.link:hover span{color: #e4393c;}
.link:hover{background:#222222;}
.link:hover .tsj{background-position:-32px -29px;}
.link:hover .xsq{background-position:-32px -59px;}
.link:hover .pad{background-position:-80px 156px;}
.link:hover .dnzb{background-position:-32px -84px;}
.link:hover .tkl{background-position:-32px -112px;}

/********************************************************/
/*banner中间*/
.b_center{
    width:713px;
    height:348px;
    float: left;
    position: relative;
    left: -5px;
}

/* focus */
#focus{
    width:713px;
    height:348px;
    position:relative;
    z-index:8;
    overflow:hidden;}
#focus ul{
    height:348px;
    position:absolute;
}
#focus ul li{float:left;
    width:713px;
    height:348px;
    overflow:hidden;
    position:relative;
    background:#000;
}
#focus ul li div{
    position:absolute;
    overflow:hidden;
}
#focus .btnBg{
    position:absolute;
    width:713px;
    height:20px;
    left:0;
    bottom:0;
    background:#000;
}
#focus .btn{
    position:absolute;
    width:713px;
    height:10px;
    padding:5px 10px;
    right:0;
    bottom:0;
    text-align:right;
}
#focus .btn span{
    display:inline-block;
    _display:inline;
    _zoom:1;
    width:25px;
    height:10px;
    _font-size:0;
    margin-left:5px;
    cursor:pointer;
    border-radius: 50%;
    background:#fff;
}
#focus .btn span.on{background:#fff;}
#focus .preNext{
    width:45px;
    height:100px;
    position:absolute;
    top:90px;
    background:url('../img/sprite.png') no-repeat 0 0;
    cursor:pointer;}
#focus .pre{left:0;}
#focus .next{right:0;background-position:right top;}


/**************************************************************/
/*banner右边*/
.b_rt{
    width:280px;
    float: right;
    position: relative;
    left: -9px;
	z-index:20;
}
.b_rt .news{width:280px;}
.news_con{width:280px;background:#fff;}
.news_con h1{
    background:#f5f5f5;
    height:40px;
    line-height:40px;
    font-size:18px;
    color:#2e2e2e;
    font-weight: normal;
    padding-left: 20px;
}
/*新闻*/
.news_txt{height:104px;padding:15px 20px;}
.news_main{width:240px;height:104px;overflow: hidden;}
.news_main>ul>li{width:240px;height:26px;overflow: hidden; line-height: 26px;}
.news_main>ul>li>a{text-decoration: none;}
.news_main>ul>li>a:hover{color:#000;}
.news_main>ul>li>a>b.mf{color:#0073bd;}
.news_main>ul>li>a>b.pc{color:#00b3ee;}
.news_main>ul>li>a>b.jc{color:#3e8f3e;}
.news_main>ul>li>a>b.sd{color:#e38d13;}
.news_main>ul>li>a>b.hd{color:#e72e25;}
/*img*/
.news_img{width:280px;height:174px;}

/**************************************************************/
/*banner底部图片*/
.b_bottom{width:1211px ;margin:0 auto ;padding-left:2px;margin-bottom:50px;}
.b_bottom .b_btm{
    float: left;
    height: 152px;
    margin: 24px -2px;
    /*border: 1px solid red;*/
}
.b_btm ul li{
    float: left;
    margin-right:2px;
    height: 152px;
}
.b_btm ul li a img {width:299px;height:152px;}
/***********鼠标悬停*********************************************/
.b_bottom:hover li{
    background:#000;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.b_bottom:hover img{
    opacity:0.5;
    filter:alpha(opacity=50);
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.b_bottom li:hover img{
    opacity:1;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
/********************************************************/
/*热卖*/
.main_box_f{height:727px;}
.main_con{overflow:hidden;}
#main>.main_box_f>h2{
    height:40px;
    line-height:40px;
    font-weight:normal;
    margin-top:20px;
    font-size:20px;}

/*左边*/
.main_con>.main_lf{
    width:298px;
    height:674px;
    float: left;
    border-right: 1px solid #e9e9e9;
    margin-right:1px;}

.main_con>.main_lf>.center{width:298px;height:672px;}

.center:hover{border: 1px solid #aaa;}
/*中间*/
.m_con{
    float:left;
    width:600px;
    height:671px;
    border-right: 1px solid #e9e9e9;
    margin-right:1px;
}
/**************************/
.m_con>.m_box{
     float:left;
     width:600px;
     height:323px;
     border:0;
     border-bottom:1px solid #e9e9e9;
 }


.m_con>.m_box:hover{
    border:1px solid #aaa;
}


.m_con>.m_box>a>img{
    width:600px;
    height:323px;
}
/*中间部分下面的2图片*/
.m_con>.m_btm{
    float:left;
    width:604px;
    height:348px;
}
.m_btm>.m_btm1>a>img{
    width:299px;
    height:347px;
}
/******************************/
.m_con>.m_btm>.m_btm1{
    width:299px;
    height:347px;
    border-right:1px solid #e9e9e9;
    float: left;
    margin-right:1px;
}

.m_con>.m_btm>.m_btm1:hover{
    border:1px solid #aaa;
}
/******************************/
.m_con>.m_btm>.m_btm2{
    width:299px;
    height:347px;
    float: left;
}
.m_con>.m_btm>.m_btm2:hover{
    border:1px solid #aaa;
}

.m_btm>.m_btm2>a>img{
    width:299px;
    height:347px;
}
/******************************/
/*右边*/

.main_rt{width:296px;height:672px;float:left;}

.main_rt .rt1{
    width:296px;
    height:324px;
    float:left;
}

.main_rt .rt1:hover{
    border:1px solid #aaa;
}
/******************/
.main_rt .rt2{
    width: 296px;
    height: 346px;
    float:left;
    border-top: 1px solid #e9e9e9;
}
.main_rt .rt2:hover{
    border:1px solid #aaa;
}

.main_rt>.rt2>a>img{
    width:296px;
    height:346px;
}
/********************************************************/
/*专卖推荐*/
.main_box_w{height:562px;border:1px solid transparent;}
.main_box_w h3{height:40px;line-height:40px;font-weight:normal;margin-top:20px;font-size:20px;}
.main_box_w .mbw_con{height:502px;border:1px solid transparent;}

/*左边*/
.mbw_lf{
    width:298px;
    height:497px;
    float:left;
    margin-right:1px;
}

.mbw_lf>.mbw_lf1{
    width:298px;
    height:198px;
    float:left;
    border:0;
}

.mbw_lf>.mbw_lf1:hover{
    border:1px solid #aaa;
}
/**********************/
.mbw_lf>.mbw_lf2{
    width:298px;
    height:299px;
    float:left;
    border-top:1px solid #e9e9e9;
}

.mbw_lf>.mbw_lf2:hover{
    border:1px solid #aaa;
}
/*中间*/
.mbw_m{width:602px;height:501px;float:left;padding-left:1px;margin-right:1px;}
/*********************/
.mbw_top{width:597px;height:248px;;border-bottom:1px solid #e9e9e9;}
.mbw_top:hover{border:1px solid #aaa;}
.mbw_top>a>img{width:597px;height:248px;}
/*********下部分************/
.mbw_m>.mbw_b{width:595px;height:250px;border:1px solid transparent;}

.mbw_b>.mbw_b_lf{
    width:294px;
    height:249px;
    float:left;
    margin-left:-1px;
    border:1px solid transparent;
}

.mbw_b>.mbw_b_lf:hover{
    border:1px solid #aaa;
}

.mbw_b>.mbw_b_lf>a>img{
    width:294px;
    height:248px;
}
/*************/
.mbw_b>.mbw_b_rt{
    width:299px;
    height:249px;
    margin-left:295px;
    border:1px solid transparent;
}
.mbw_b>.mbw_b_rt:hover{
    border:1px solid #aaa;
}

.mbw_b>.mbw_b_rt>a>img{
   width:299px;
    height:248px;
}
/*右边*/
.mbw_rt{width:298px;height:500px;float:left;position: relative;left:-4px;}
.mbw_rt>.mbw_rt_box{width:298px;height:500px;float:left;}
.mbw_rt>.mbw_rt_box:hover{border:1px solid #aaa;}



/********************************************************/
/*楼层*/
#flc,.flc-nav-c{position: relative;}
#flc .flc-nav{
    position:fixed;
    left:50%;
    margin-left:-640px;
    top:50%;
    margin-top:-98px;
    width:24px;
    height:196px;
    z-index:999;}


#flc .flc-nav-con{
    width: 24px;
    height: 196px;
    border-top: 1px solid #cdcdcd;
}
#flc .flc-nav-con a{
    display: block;
    border-bottom:1px solid #cdcdcd;
    width:24px;
    height:38px;
    line-height:38px;
    text-align:center;
    color: #777777;
}
#flc .flc-nav-con a{
    text-decoration: none;
}
#flc .flc-nav-con a:hover{
    color:#e4393c;
}
/**********右边固定滚动****************/
#flc-rt{
    position: fixed;
    right: 2px;
    top:408px;
    z-index: 999;
    height: 500px;
    width: 45px;
}
.flc-rt-con{
    width: 45px;
    height: 192px;
    background: #37383b;
    font-family: arial,"微软雅黑",sans-serif;
    border-radius: 4%;
 }

.flc-rt-con>ul>li{
    width: 45px;
    height: 45px;
    margin: 3px 0;}
.flc-rt-con>ul>li>a{width:45px;height:45px;display: inline-block;}
.flc-rt-con>ul>li>a>img{width:45px;height:45px;}

/*红*/
.flc-rt-con>ul>li>a.shopcart:hover{
    background-image: url('../img/shopicon.png');
    background-repeat: no-repeat;
    background-position: -68px -12px;
    background-color:#2e2e2e;
}
/*白*/
.flc-rt-con>ul>li>a.shopcart{
    background-image: url('../img/shopicon.png');
    background-repeat: no-repeat;
    background-position: -113px -12px;
}
/*红*/
.flc-rt-con>ul>li>a.shopsc:hover{
    background-image: url('../img/shopicon.png');
    background-repeat: no-repeat;
    background-position: -67px -77px;
    background-color:#2e2e2e;
}/*白*/
.flc-rt-con>ul>li>a.shopsc{
    background-image: url('../img/shopicon.png');
    background-repeat: no-repeat;
    background-position: -113px -77px;
}

/*红*/
.flc-rt-con>ul>li>a.shoptl:hover{
    background-image: url('../img/shopicon.png');
    background-repeat: no-repeat;
    background-position: -161px -13px;
    background-color:#2e2e2e;
}
/*白*/
.flc-rt-con>ul>li>a.shoptl{
    background-image: url('../img/shopicon.png');
    background-repeat: no-repeat;
    background-position: -204px -13px;
    z-index: 444;
}

/************回到顶部**************/
#flc-rt .shoptop{
    width:44px;
    height:44px;
    border:1px solid transparent;
    display: none;
}

#flc-rt .shoptop >i{
    width:44px;
    height:44px;
    display:inline-block;
    position: absolute;
    left: 1px;
}
/*红*/
#flc-rt .shoptop >i:hover{
    background-image:url('../img/shopicon.png');
    background-repeat:no-repeat;
    background-position: -159px -76px;
}

/*白*/
#flc-rt .shoptop >i{
    background-image: url('../img/shopicon.png');
    background-repeat: no-repeat;
    background-position: -205px -76px;
    background-color:#2e2e2e;
    border-radius: 10%;
}

.flc-rt-con>ul>li>a:hover{ 
    background-color:#e9e9e9;
}

/********************弹出框**************************/
.service{
    border: 1px solid #d6d6d6;
    width: 148px;
    height: 186px;
    position: absolute;
    left: -150px;
    top: 245px;
    background: #fff;
    color:#2e2e2e;
    display:none;

}
.service dl>dd{
    text-align: center;
    padding:10px 0;
    border-bottom:1px solid #efefef;
    line-height: 17px;
    font-size: 12px;
}
.service dl>dd>a{text-decoration: none;color:#2e2e2e;}
.service dl > dd>a:hover{
    color:#e4393C;
}
/************************************************/
/*底部*/
#foot{background:#E9E9E9;}
#foot>.foot_box>ul>li>a{text-decoration: none;}
.foot_box{
	overflow:hidden;
	width:1211px;
	height:82px;
	margin:8px auto;
    padding-top: 26px;
    padding-bottom:65px;
}
.foot_box ul{
    float: left;
    width: 182px;
}
.foot_box li{
    line-height: 24px;
}
.foot_box b{
    line-height: 30px;
    font-size: 14px;
}
.foot_box>ul>li>a:hover{color:#000;}
.foot_box>ul>li>a{font-size:12px;color: #898989;}
/*****************/
.contact{
    float: left;
    width: 300px;
    padding-top:0;
	background:#E9E9E9;
}
.contact_box{
    width: 173px;
    height: 105px;
    background: #fff;
    margin-left: 1px;;

}
.contact_box p{padding:5px 5px;}
.contact_box p.rx{color:#e4393C;font-size:26px;}
.contact_box p.gf{color:#000;font-size:14px;margin-bottom:13px;}
.contact_box>.gf>span{padding-right:10px;}
.contact_box>.gf>i{padding-left:11px;}
.contact_box p.day{background:#B6B6B6;color:#fff;}

/********************************************************/
/*底部*/
#footer{
    height: 129px;
}
#footer>.links>a{text-decoration: none;}
.links{
  margin-top:20px;
}
.links a{
  margin: 0 9px;
  font-size:14px;
  color:#000;
}
.links a.cls{
   color:#e4393c;
}
.links a:hover{
    color:#e4393c;
}
.copyright{width:1211px;margin: 0 auto;}
.copyright_box{
  margin-top:13px;
  line-height: 20px;
  padding-left:10px;
  font-size:12px;
}
.copyright_box>p>span.fl,span.icp,span.yz{
  color:#000;
}
/***底部图标*****/
#berf .berf_box{width:1211px; height:190px;margin:20px 0;}
#berw .berw_box{width:1211px; height:190px;margin:20px 0;}
/*foot**/
.foot_box>ul>li>i.shop,i.send,i.order,i.services,i.other{
	width:30px;
	height:32px;
	display:inline-block;
	border:1px solid transparent;
	float: left;
	margin-left: -31px;
	top: -4px;
	position: relative;
	left: -7px;
}
.foot_box>ul>li>i.shop{background-image:url('../img/shopicon.png');background-position:-4px -243px;}
.foot_box>ul>li>i.send{background-image:url('../img/shopicon.png');background-position:-43px -243px;}
.foot_box>ul>li>i.order{background-image:url('../img/shopicon.png');background-position:-83px -243px;}
.foot_box>ul>li>i.services{background-image:url('../img/shopicon.png');background-position:-123px -243px;}
.foot_box>ul>li>i.other{background-image:url('../img/shopicon.png');background-position:-163px -243px;}

/**ico*/
.ico{width:100%;background:#E9E9E9;}
.ico_box{height:33px;width:1211px;margin:0 auto;}
.ico_box>ul>li>a{float:left;padding-left:5px;}
.ico_box>ul>li>a>i.db,i.wx,i.wb,i.rr,i.txwb{width:32px;height:32px;border:1px solid transparent;display:inline-block;}

.ico_box>ul>li>a>i.db{background-image:url('../img/think_icon.png');background-position:-87px 3px;}
.ico_box>ul>li>a>i.wb{background-image:url('../img/think_icon.png');background-position:-118px 3px;}
.ico_box>ul>li>a>i.rr{background-image:url('../img/think_icon.png');background-position:-149px 3px;}
.ico_box>ul>li>a>i.txwb{background-image:url('../img/think_icon.png');background-position:-180px 4px;}


.ico_box>ul>li>a>i.db:hover{background-image:url('../img/think_icon.png');background-position:-87px -27px;}
.ico_box>ul>li>a>i.wb:hover{background-image:url('../img/think_icon.png');background-position:-118px -27px;}
.ico_box>ul>li>a>i.rr:hover{background-image:url('../img/think_icon.png');background-position:-149px -27px;}
.ico_box>ul>li>a>i.txwb:hover{background-image:url('../img/think_icon.png');background-position:-180px -27px;}

/**login**/
.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0, .7);
    z-index: 999;
    display: none;
}
.modal-dialog {
    width: 370px;
    margin: 100px auto;
}
.modal-content {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 5px #aaa;
    padding: 16px 12px;
}
.modal-content h4 {
    font-size: 1.8em;
}
.modal-content .alert {
    margin: 15px 0;
    border: 1px solid #e4393c;
    background: #fee;
    color: #e4393c;
    font-weight: bold;
    padding: 6px;
    border-radius: 2px;
}
.modal-content input {
    box-sizing: border-box; /*width+margin*/
    width: 100%;
    margin: 6px 0;
    line-height: 2em;
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 2px 6px;
    cursor: pointer;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 1.2;
  position: relative;
  top:-29px;
  cursor: pointer;
}